---
import Navigation from "./Navigation.astro";
import MobileMenu from "./MobileMenu.astro";
import ThemeSwitcher from "../theme-switcher.astro";
import { Icon } from "astro-icon/components";
---

<header
  id="page-header"
  class="absolute bottom-0 z-20 flex w-full items-center justify-between border-b border-transparent px-8 py-4 text-white"
>
  <a class="flex items-center gap-3 hover:!text-default" href="#">
    <h1 class="sr-only">Astro</h1>
    <Icon name="logomark" class="size-10" />
    <Icon name="wordmark" class="hidden h-4 sm:block" />
  </a>
  <div>
    <div class="flex items-center gap-6">
      <Navigation />
      <button
        id="open-nav-button"
        type="button"
        class="btn sm:hidden"
        aria-label="Navigation"
      >
        <Icon name="mdi:menu" class="size-8" />
      </button>
      <ThemeSwitcher />
    </div>
    <MobileMenu />
  </div>
</header>

<script src="../../scripts/header.ts"></script>

<style is:global>
  @import "../../styles/header.css";
</style>